{% extends 'base.html.twig' %}

{% block title %}Créer un compte artiste{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Créer un artist</h1>

    {{ include('artist/_form.html.twig') }}
{% endblock %}
