{% extends 'base.html.twig' %}

{% block title %}Liste des artCards{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 d-flex justify-content-between">
                {% for artCard in artCards %}
                    <p>{{ artCard.title }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include 'artCard/_delete_form.html.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
