{% extends 'base.html.twig' %}

{% block title %}Créer une art card{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Créer une art card</h1>

    {{ include('artCard/_form.html.twig') }}
{% endblock %}
