{% extends 'base.html.twig' %}

{% block title %}detail d'une oeuvre{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row flex-column">
            <div class="col-12 m-auto text-center">
                <h1>" {{ artCard.title }} "</h1>
            </div>
            <div class="row">
                <div class="col-12 m-auto text-center">
                    <h1 class="fst-italic fs-4">par {{ artCard.user.nickname }}</h1>
                </div>
            </div>
            <div class="row m-auto">
                <div class="col-12 m-auto">
                    <img src="{{ artCard.pictureArt }}">
                </div>
            </div>
            <div class="row row-cols-2 justify-content-center m-auto">
                <div class="col-12 col-lg-6">
                    {{ artCard.description }}
                </div>
                <div class="col-12 col-lg-6 bg-gradient">
                    carte
                </div>
            </div>
        </div>
    </div>
{% endblock %}