<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('_delete' ~ user.id) }}">
    <button class="btn btn-secondary text-white">Supprimer</button>
</form>