{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8 d-flex justify-content-between">
                {% for user in users %}
                    <p>{{ user.nickName }}</p>
                    <a class="btn btn-primary" href="{{ path('artist_edit', {id:user.id}) }}">become an artist</a>
                    {% include 'user/_delete_form.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
