{% extends 'base.html.twig' %}

{% block title %}Créer votre compte{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Créer un compte</h1>

    {{ include('user/_form.html.twig') }}
{% endblock %}
